/* Insert your global CSS here. */
body {
    font-family: Verdana;
    background-color:#2e2759;
    color: #f7faff;
}

.head {
    text-align: center;
    width: 100%;
    color: #f7faff;
    margin-top:60px;
    font-weight: 300;
}

.big {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    width: 100%;
    color: #f7faff;
    padding: 10px;
}

#d3 {
    width:70%
}

.column {
  float: left;
  /* text-align: center; */
}

.desc {
    width: 12%;
}

.center {
    text-align: center;
}
.tweet {
    width:  50%;
    /* border: 1px solid black; */
    margin: auto;
}

.twitter-tweet {
    margin: auto;
}

#tweettxt{
    /* text-align: center; */
    border-radius: 5px 5px 5px 5px;
    padding: 34px 10px 10px 10px;
    margin-bottom: 10px;
    background: url('../imgs/empty_tweet.jpg');
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background-color: white;
    color: black !important;
    width: 350px;
    height: 90px;
    overflow-wrap: break-word;
    /* display: none; */
}

.x-axis line{
    stroke: white;
    color:white;
}

.x-axis path{
    stroke: white;
    color:white;
}

.x-axis {
    stroke: white;
}

.y-axis line{
    stroke: white;
    color:white;
    font-size: 4em;
}

.y-axis path{
    stroke: white;
    color:white;
}

.y-axis {
    stroke: white;
}


.row {
    /* border: 1px solid gray; */
    height: 400px;
}
.row2 {
    margin: 0 15%;
    width: 800px;
}

.row2 > h3 {
    text-align: center;
}

#instructions {
    position: absolute;
    margin-top: -45px;
    font-size: 15px;
}

#reddit {
    width: 100px;
    height: 100px;
    
    /* background-size: auto; */
}
#redditdiv {
    position: fixed;
    margin-top: 390px;
    margin-left: 10px;
    text-align: center;
    font-size: 10px;
    /* display: inline-block; */
}

#twitterlogo {
    width: 140px;
    height: 110px;
    
    /* background-size: auto; */
}
#twitterdiv {
    position: fixed;
    margin-top: 390px;
    margin-right: 10px;
    right:0em;
    text-align: center;
    font-size: 10px;
    /* display: inline-block; */
}
#link {
    /* border: 1px solid black; */
}