/* Insert your global CSS here. */
body {
    font-family: sans-serif;

}
.head {
    text-align: center;
    width: 100%;
    color: #127dff;
}

.tooltip {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
    font-size: small;
    padding: 5px;
}

.big {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
    width: 100%;
    color: #4321db;
}

#d3 {
    width:70%
}

.column {
  float: left;
  padding: 10px;
  height: 100%;
}

.desc {
    width: 12%;
}

