/* Insert your global CSS here. */
body {
    font-family: sans-serif;
}
.horiz-flex-center {
    display: flex;
    align-items: center;
}

.tooltip {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
    font-size: small;
    padding: 5px;
}
